    
<h1><%= current_user.username%>'s Class</h1>
<h2> Please complete the following to change "<%=@period.name %>" period's name. </h2>
<form  action="/periods/<%=@period.id%>/edit" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label for="period" >Class:</label>
  <input type="text" name="name" placeholder="period" id="name" required="required" value=<%@period.name%>>
  <button type="submit" value="submit" > submit </button>
</form>
<h4><a href="/index"> Main Class Page</a>
<a href="/users/logout"> Logout </a></h4>
