<div class="col-md-8 col-md-offset-2 container">
  <h1>Welcome to Grasses!</h1>
  <h2>Please complete the following to create an account.</h2>
  <form  action="/users/create_user" method="post">
    Username: <input type="text" name="username" placeholder="username" required="required">
    Email: <input type="text" name="email" placeholder="email" required="required">
    Password: <input type="password" name="password" placeholder="password" required="required">
    <button type="submit" value="submit" > submit </button>
  </form>
</div>
