<div class="col-md-8 col-md-offset-2 container">
  <h1>Welcome to Grasses!</h1>
  <h2> Please log in below or <a href="/users/create_user"> create a new user. </a></h2>
  <form  action="/users/login" method="post">
    <label for="email" >Email:</label>
    <input type="text" name="email" placeholder="email" id="email" required="required">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password" id="password" required="required"></p>
  <button type="submit" value="submit" > submit </button>
</form>
</div>
