  
<div class="col-md-8 col-md-offset-2 container">
  <h1>Thank you for using Grasses!</h1>
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <form  action="/users/login" method="get">
    <button type="submit" value="submit" > Log into your account </button>
  </form>
</div>
