<% if logged_in?%>
<h1>Welcome to Grasses!</h1>
<p> Here is a little more about this website! </p>
<h2> 
    This is an app
</h2>
<% else %>

<h1><a href="/"> Please log in or create an account</a></h1>

<% end %>