<h1>Welcome to Grasses!</h1>
<p> Here is where you can store all of your class and student data. </p>
<h2> Please log in or create and account.
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <form  action="/users/login" method="get">
      <button type="submit" value="submit" > Log in </button>
    </form>
    <form  action="/users/create_user" method="get">
      <button type="submit" value="submit" > Create an account </button>
    </form></h2>
